<div id="<%= dom_id subject %>" class="container">
  <div class="row">
    <div class="col">
      <p>
        <strong>Name:</strong>
        <%= subject.name %>
      </p>
      <p>
        <strong>Course:</strong>
        <%= subject.course_id %>
      </p>
    </div>
  </div>
</div>
