<div class="container">
  <p class="text-success"><%= notice %></p>

  <h1 class="mb-4">Courses</h1>

  <div id="courses">
    <% @courses.each do |course| %>
      <div class="card mb-3">
        <%= render course %>
        <div class="card-footer">
          <%= link_to "Show this course", course, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New course", new_course_path, class: "btn btn-success" %>
</div>
