<div class="container">
  <h1 class="mb-4">Editing expense</h1>

  <%= render "form", expense: @expense %>

  <div class="mt-4">
    <%= link_to "Show this expense", @expense, class: "btn btn-primary me-2" %> |
    <%= link_to "Back to expenses", expenses_path, class: "btn btn-secondary" %>
  </div>
</div>
